<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>First page</title>
</head>
<body>
  <div class="row">
      <h1>Destination: {{city}}</h1>
  </div>

  <div class="row">
    <h2>Pictures</h2>    
    <div class='photos'>
      {% for url in photos %}
        <img src="{{url}}"></img>
      {% endfor %}
    </div>
  </div>

  {% if weather.length %}
  <div class="row">
    <h2>Weather</h2>
    <div class="weather">
      {% for day in weather %}
        <div>
          <h4></h4>
          <h5>{{day.main}}</h4>
          <p>{{day.desc}}</p>
          <p>Temp : {{day.temp}} C</p>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  <script>
    (function () {
      var months = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ]
      
      window.onload = function (){
        var heads = document.querySelectorAll('.weather h4');
        for(var i = 0; i < heads.length; i++){
          var date = new Date(new Date().getTime() + i * 24 * 60 * 60 * 1000);
          heads[i].textContent = date.getDate() + ' ' + months[date.getMonth()];
        }
      }
    })()
  </script>

  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/foundation.min.css">
  <link rel="stylesheet" href="/styles.css">
</body>
</html>
